variables:
    GIT_DEPTH: "1"

stages:
    - mil-internal-release_build
    - prepare_mil-internal-release_debs

mil-internal-release_build:
    tags:
        - Runner-Stretch
    stage: mil-internal-release_build
    script:
        - dpkg --add-architecture armhf
        - dpkg --add-architecture arm64
        - echo "deb http://mil-internal-apt:8080/mirror-debian_20200211 stretch main" > /etc/apt/sources.list
        - echo "deb http://mil-internal-apt:8080/mil-internal-release stretch main" >> /etc/apt/sources.list
        - curl -fsSL http://mil-internal-apt:8080/mil_internal_apt.gpg | apt-key add -
        - apt-get update
        - apt-get install -y --allow-unauthenticated
          libmoxa-gpio-control-dev:armhf crossbuild-essential-armhf libjson-c-dev:armhf
          libmoxa-gpio-control-dev:arm64 crossbuild-essential-arm64 libjson-c-dev:arm64
          libmoxa-gpio-control-dev:amd64 build-essential libjson-c-dev
        - dpkg-buildpackage -us -uc -b -aarmhf
        - dpkg-buildpackage -us -uc -b -aarm64
        - dpkg-buildpackage -us -uc -b -aamd64
        - mv ../*.deb .
        - mv ../*.buildinfo .
        - mv ../*.changes .
    artifacts:
        name: "${CI_PROJECT_NAME}"
        paths:
        - ./*.deb
        - ./*.buildinfo
        - ./*.changes

prepare_mil-internal-release_debs:
    tags:
        - Runner-Stretch
    stage: prepare_mil-internal-release_debs
    only:
      refs:
        - stretch/master
    dependencies:
        - mil-internal-release_build
    when: manual
    script:
        - mkdir -p /cache/stretch/mil-internal-release/
        - cp *.deb /cache/stretch/mil-internal-release/
        - ls /cache/stretch/mil-internal-release/
