Source: moxa-dio-control
Priority: required
Maintainer: Ken CJ Chou <KenCJ.Chou@moxa.com>
Uploaders: Harry YJ Jhou <HarryYJ.Jhou@moxa.com>
Build-Depends: debhelper (>= 10), 
               dh-exec,
               libmoxa-gpio-control-dev (>= 1.0.0),
               libmoxa-errno-dev (>= 1.0.0),
               libjson-c-dev
Standards-Version: 4.1.2
Section: libs
Homepage: https://www.moxa.com/

Package: libmoxa-dio-control1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libmoxa-gpio-control1 (>= 1.0.0),
         libjson-c3
Description: Moxa DIO control library - shared library
 DIO control library can control the DIO low or high.

Package: libmoxa-dio-control-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: libmoxa-dio-control1 (= ${binary:Version}),
         ${misc:Depends}
Description: Moxa DIO control library - development files
 DIO control library can control the DIO low or high.

Package: moxa-dio-control
Architecture: any
Section: utils
Depends: libmoxa-dio-control1 (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: Moxa DIO control utility 
 This utility is target on Digital I/O controlling
 in Moxa Linux platform.
